<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @article.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @article.description %>
</p>


<%= link_to 'Edit', edit_article_path(@article),class: "btn btn-default" %> |
<%= link_to 'Back', articles_path,class: "btn btn-default" %>
