%li{id: "#{label_for}_input", class: 'string input optional stringish'}
  %label{class: 'label', for: label_for}
    = label_text
    - if language.flag?
      = image_tag(language.flag.url(:original))
    - else
      = language.locale

  = component