<li class="string input optional stringish" id="<%= id_prefix %>_input">
  <label for="<%= id_prefix %>" class="label"><%= input_name_sufix %> <%= locale.code %></label>
  <input type="hidden" name="<%= input_name_prefix %>[locale]" value="<%= locale.code %>" />

  <% unless id.nil? %>
    <input type="hidden" value="<%= id %>" name="<%= input_name_prefix %>[id]" />
  <% end %>

  <input id="<%= id_prefix %>" type="text" value="<%= value %>" name="<%= input_name_prefix %>[<%= input_name_sufix %>]" />
</li>