%ul.list-unstyled
  %li
    %strong
      = "#{address['name']}"
  %li
    = address['cif']
  %li
    = address['address_1']
    = "<br /> #{address['address_2']}".html_safe unless address['address_2'].blank?
  %li
    = "#{address['postal_code']} #{address['city']}"
  %li
    = address['country']
  %li
    = address['phone']
