%h1 Shipping options
%hr

- sc = @variables['shopping_cart']
%div{class: 'row voffset3'}
  %div{class: 'col-md-6'}
    %h4 Shipping address
    %hr
    - if sc.shipping_address.nil?
      = link_to 'Select shipping address', addresses_customers_shopping_orders_path('shipping_address_id')
    - else
      = link_to 'Select other shipping address', addresses_customers_shopping_orders_path('shipping_address_id')
      = render partial: 'addresses/address', locals: {address: sc.shipping_address}

  %div{class: 'col-md-6'}
    %h4 Billing address
    %hr
    - if sc.billing_address.nil?
      = link_to 'Select billing address', addresses_customers_shopping_orders_path('billing_address_id')
    - else
      = link_to 'Select other billing address', addresses_customers_shopping_orders_path('billing_address_id')
      = render partial: 'addresses/address', locals: {address: sc.billing_address}

%span
  Select an shipping option:

= form_tag save_carrier_customers_shopping_orders_path, method: :post do
  %div{class: 'voffset3'}
    - @carriers.each_with_index do |carrier, i|
      %div.row
        %div.col-xs-12
          %table{class: 'resume table table-bordered'}
            %tbody
              %tr
                - country_code = sc.shipping_address.country
                - cost, is_valid = carrier.calculate_shipping_cost_to(country_code, sc.total_weight)
                %td{class: 'delivery_option_radio'}
                  - if is_valid
                    = radio_button_tag :carrier_id, carrier.id, i==0
                %td{class: 'delivery_option_logo'}

                %td
                  %strong
                    = carrier.name
                  %br
                    = carrier.delay

                %td{class: 'delivery_option_price'}
                  - if is_valid
                    - if carrier.free_carrier
                      = 'Free!'
                    - else
                      = "#{cost} €"
                  - else
                    = 'Not available'

  %div{class: 'row voffset3'}
    %div{class: 'col-md-2'}
      = link_to 'Continue shopping', @variables['commerce']['root_href'], class: 'btn btn-default btn-block'
    %div{class: 'col-md-offset-8 col-md-2'}
      = submit_tag 'Checkout', class: 'btn btn-success btn-block'