%h1 Order

%ul.list-unstyled
  %li
    %div.row
      %div{class: 'col-md-6 col-xs-6'}
      %div{class: 'col-md-3 col-xs-3'}
        Price
      %div{class: 'col-md-3 col-xs-3'}
        Quantity

  - @variables['shopping_cart'].shopping_carts_products.each do |scp|
    - product = scp.product
    %li.sc-list-item-border

      %div.row
        %div{class: 'col-md-6 col-xs-6'}
          %div.row
            %div{:class => 'item-image col-md-3'}
              = image_tag product.retrieve_main_image(:thumb)
            %div{:class => 'col-md-9 col-xs-12'}
              = product.name
        %div{class: 'col-md-3 col-xs-3'}
          %div.a-color-price
            = "#{product.retail_price} €"
        %div{class: 'col-md-3 col-xs-3'}
          = scp.quantity

  %li.sc-list-item-border
    %div.row
      %div{class: 'col-md-6'}
      %div{class: 'col-md-6 col-xs-12'}
        %div.pull-right
          %span
            = "Subtotal (#{@variables['shopping_cart'].total_products} products): "
          %span.a-color-price
            = "#{@variables['shopping_cart'].total_retail_price} €"

= link_to 'Continue shopping', @variables['root_href'], class: 'btn btn-default'
|
= link_to 'Finalize', finalize_customers_shopping_orders_path, class: 'btn btn-success btn-default'
