%div.well
  %h3
    = address['name']
  %p
    - if address['default_billing']
      Default billing address
      %br
    - if address['default_shipping']
      Default shipping address
      %br

  %hr

  %ul.list-unstyled
    %li
      = "#{address['fields']['customer_name']} #{address['fields']['customer_last_name']}"
    %li
      = address['fields']['dni']
    %li
      = address['fields']['business']
    %li
      = address['fields']['address_1']
      = "<br /> #{address['address_2']}".html_safe unless address['address_2'].blank?
    %li
      = "#{address['fields']['postal_code']} #{address['city']}"
    %li
      = address['fields']['country']
    %li
      = address['fields']['phone']
    %li
      = address['fields']['mobile_phone']
    %li
      = address['fields']['other']