- categories.each do |category|
  %li.choice
    %label{for: "product_products_categories_ids_#{category.id}"}
      = check_box_tag 'product[products_categories_ids][]', category.id, products_categories.pluck(:category_id).include?(category.id), id: "product_products_categories_ids_#{category.id}"
      = category.name

    - if category.children.any?
      %ul.choices-subgroup
        = render partial: 'admin/products/categories_sub_choices',
        locals: {products_categories: products_categories, categories: category.children}