%table
  %tr
    %th
      = t('activerecord.attributes.feature.name')
    %th
      = t('activerecord.attributes.feature.value')

  - features.each do |feature|
    - languages.each do |language|
      %tr
        %td
          %label{for: "product_features_translations_#{language.locale}_#{feature.id}"}
            - if language.flag?
              = image_tag(language.flag.url(:original))
            - else
              = language.locale

            = '&nbsp;'.html_safe
            = feature.name

        %td
          - value = ''
          - value = product.features_translations[language.locale].to_s unless product.features_translations[language.locale].blank?
          - features = JSON.parse(value.gsub('=>', ':'))
          = text_field_tag "product[features_translations][#{language.locale}][#{feature.id}]", features[feature.id.to_s]
