%table
  %tr
    %th Feature
    %th Value

  - translations.each_with_index do |pt, i|
    - features.each do |feature|
      %tr
        %td
          %label{for: "product_product_translations_attributes_#{i}_#{feature.id}"}
            - language = pt.language
            - if language.flag?
              = image_tag(language.flag.url(:original))
            - else
              = language.locale
            = text_field_tag "product[product_translations_attributes][#{i}][locale]", language.locale, {type: 'hidden'}

            - unless pt.id.nil?
              = text_field_tag "product[product_translations_attributes][#{i}][id]", pt.id, {type: 'hidden'}

            = '&nbsp;'.html_safe
            = feature.name

        %td
          - value = nil
          - value = pt.features[feature.id.to_s] unless pt.features.nil?
          = text_field_tag "product[product_translations_attributes][#{i}][#{feature.id}]", value
