%table
  %tr
    %th
      = t('activerecord.attributes.feature.name')
    %th
      = t('activerecord.attributes.feature.value')

  - features.each do |feature|
    - languages.each_with_index do |language, i|
      %tr
        %td
          %label{for: "product_product_features_tranlations_#{i}_#{feature.id}"}
            - if language.flag?
              = image_tag(language.flag.url(:original))
            - else
              = language.locale

            = '&nbsp;'.html_safe
            = feature.name

        %td
          - value = nil
          - value = product.features[feature.id] unless product.features.nil?
          = text_field_tag "product[features_translations][#{language.locale}][#{feature.id}]", value
