-# Navigation
%nav{:class => 'navbar navbar-inverse navbar-fixed-top', :role => 'navigation'}
  %div.container
    -# Brand and toggle get grouped for better mobile display
    %div.navbar-header
      %button{:type => 'button', :class => 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '#bs-example-navbar-collapse-1'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to @variables['commerce']['name'], @variables['commerce']['root_href'], :class => 'navbar-brand'

    -# Collect the nav links, forms, and other content for toggling
    %div{:class => 'collapse navbar-collapse', :id => 'bs-example-navbar-collapse-1'}
      %ul{:class => 'nav navbar-nav pull-right'}
        %li
          %a About

        - if !@variables.nil? && !@variables['languages'].nil?
          - @variables['languages'].each do |lang|
            - image_src = ''
            - image_src = lang.flag.url(:original) if lang.flag?

            %li
              %a{href: change_locale_path(lang.locale)}
                = image_tag image_src, { width: '15px', alt: lang.locale, title: lang.name}

        %li.dropdown
          %a{href: show_customers_path, class: 'text-fade'}
            My account
            %span.caret
          %ul.dropdown-menu
            - if customer_signed_in?
              %li.dropdown
                = link_to 'My account', show_customers_path
              %li.dropdown
                = link_to 'My orders', orders_customers_path
              %li.dropdown
                = link_to 'Logout', destroy_customer_session_path, :method => :delete
            - else
              %li.dropdown
                = link_to 'Login', new_customer_session_path

        - products = 0
        - products = @variables['shopping_cart'].total_products unless @variables['shopping_cart'].nil?
        %li.dropdown
          %a{href: customers_shopping_carts_path, class: 'text-fade'}
            = "My cart (#{products})"
            %span.caret
          %ul{class: 'dropdown-menu'}
            %li.dropdown
              %div.shopping-cart-panel
                - if !@variables.nil? && !@variables['shopping_cart'].nil?
                  - if @variables['shopping_cart'].shopping_carts_products.empty?
                    Your cart is empty.
                  - else
                    - @variables['shopping_cart'].shopping_carts_products.each do |scp|
                      %div{class: 'row shopping-cart-row'}
                        %div.col-md-4
                          = image_tag(scp.product.image.url(:thumbnail), :class => 'img-responsive')
                        %div.col-md-8
                          = link_to scp.product.name, show_slug_products_path(scp.product.slug)
                          %br
                          = "Quantity: #{scp.quantity}"

                %div.row
                  %div.col-md-12
                    = link_to "My cart (#{products})", customers_shopping_carts_path, :class => 'btn btn-default btn-block'
