%div{:class => 'col-sm-4 col-lg-4 col-md-4'}
  %div{class: 'thumbnail item-home'}
    %a{:href => product['href']}
      %div.sm-img
        = image_tag(product['image_medium_src'])

    %div.caption
      %h4{class: 'pull-right price'}
        = "#{product['retail_price']} €"
      %h4
        %a{:href => product['href']}
          = product['name']
      %p
        = product['short_description']

    %div.ratings
      %p.pull-right
        15 reviews
      %p
        %span{:class => 'glyphicon glyphicon-star'}
        %span{:class => 'glyphicon glyphicon-star'}
        %span{:class => 'glyphicon glyphicon-star'}
        %span{:class => 'glyphicon glyphicon-star'}
        %span{:class => 'glyphicon glyphicon-star-empty'}

    %div.btn-add-cart
      = link_to 'Add to cart', product['add_cart_href'], :class => 'btn btn-success btn-block'