%meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge'}
%meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}

%title
  = @variables['commerce']['name']
= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true

-## HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
-## WARNING: Respond.js doesn't work if you view the page via file://
/[if lt IE 9]
  %script{:src => 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'}
  %script{:src => 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'}

= csrf_meta_tags

- unless @variables['commerce']['ga_account_id'].blank?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '#{@variables['commerce']['ga_account_id']}', 'auto');
    ga('send', 'pageview');
