!!! 5
%html
  %head
    = render 'layouts/header'
  %body.shop
    = render 'layouts/components/nav_bar'

    -# Page Content
    %div.container
      %div.row
        = render 'layouts/components/notice_messages'
      %div.row
        = yield

    = render 'layouts/components/footer'
    = Utils.append_debug_variables(@variables, '').html_safe

  = console if Rails.env.development?