!!! 5
%html
  %head
    = render 'layouts/header'

    %script{type: 'text/javascript'}
      = @head_javascript.html_safe if @head_javascript

    %style{type: 'text/css'}
      = @head_css.html_safe if @head_css

  %body
    ="<!-- #{@variables['my_site']} -->".html_safe
    = @body_content.html_safe if @body_content
