!!! 5
%html
  %head
    = render 'layouts/header'
  %body.shop
    ="<!-- #{@variables['commerce']} -->".html_safe
    = render 'layouts/components/nav_bar'

    -# Page Content
    %div.container
      = render 'layouts/components/notice_messages'

      - image_src = ''
      - image_src = @variables['commerce']['image_src'] if @variables['commerce']

      %div.col-md-3
        %div.text-center
          %a{href: @variables['commerce']['root_href']}
            = image_tag image_src, {class: 'img-responsive', alt: @variables['commerce']['name'], title: @variables['commerce']['name']}

        %div.list-group
          = render partial: 'layouts/components/side_bar_category', locals: { categories: @variables['categories']}

        %div.list-group
          = render partial: 'layouts/components/side_bar_tag'
      %div.col-md-9
        %div.row
          = render 'layouts/components/breadcrumbs'
          = render 'layouts/components/search_box'
          = render 'layouts/components/tags_box'
          = yield

    = render 'layouts/components/footer'
    = append_debug_variables(current_admin_user, @variables, '').html_safe

    = console if Rails.env.development?